data_file: 'profiles/<profile_name>/data.json'
chrome_driver_path: 'path/to/chromedriver.exe'
form_url: 'https://form-url.com'
mapping: 'profiles/<profile_name>/map.py'
pre_action: 'profiles/<profile_name>/preaction.py'